name: Docker Image TQ CI

on:
#  push:
#    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
      
   # - name: Build the Docker image
   #   run: docker build . --file Dockerfile --tag tquinnelly/clamav-alpine:latest
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Extract metadata (tags, labels) for Docker
      id: meta-latest
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/clamav-alpine:latest
    - name: Extract metadata (tags, labels) for Docker
      id: meta-edge
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/clamav-alpine:edge

    - name: Push it - Latest
      uses: docker/build-push-action@v6.4.1
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/clamav-alpine:latest 
      
    - name: Push it - Edge
      uses: docker/build-push-action@v6.4.1
      with:
        context: .
        file: ./Dockerfile-edge.dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/clamav-alpine:edge 
