name: MkDocs Deploy
on:
  push:
    paths: #Target only MkDocs config
      - './mkdocs.yml'
      - './docs/**'
    branches:
    - master
  pull_request: #Target only MkDocs folder for content
    paths:
      - './mkdocs.yml'
      - './docs/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: 3.12.6
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Pull latest changes
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git config advice.mergeConflict false
        git pull origin master
    - name: Build and Commit
      uses: iSOLveIT/mkdocs-notes@main
      with:
        config_file_path: mkdocs.yml
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
#        target-branch: gh-pages
