name: Daily Secrover Scan

on:
  schedule:
    - cron: '0 3 * * *' # every day at 03:00 UTC
  workflow_dispatch: # allow manual triggering

jobs:
  secrover-scan:
    runs-on: ubuntu-latest

    env:
      GH_PAT: ${{ secrets.GH_PAT }}
      GIT_AUTHOR_NAME: ${{ vars.GIT_AUTHOR_NAME }}
      GIT_AUTHOR_EMAIL: ${{ vars.GIT_AUTHOR_EMAIL }}  

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Pull and run Secrover
        run: |
          docker pull secrover/secrover
          mkdir -p docs
          docker run --rm \
            -v "$(pwd)/secrover/secrover-config.yml:/app/config.yaml" \
            -v "$(pwd)/secrover/docs:/output" \
            -e CONFIG_FILE=config.yaml \
            secrover/secrover

      - name: Commit output files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add docs/
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Daily secrover scan: $(date -u +'%Y-%m-%d %H:%M:%S')"
            git push
          fi
