name: Trivy Container Image Scan - Latest

on:
    push:
#      branches: [ "master" ]
      paths-ignore:
        - './mkdocs.yml'
        - './secrover/**'
        - './.github/**'
        - './Dockerfile'
        - './README.md'
        - './LICENSE'
        - './CODE_OF_CONDUCT.md'
        - './CONTRIBUTING.md'
        - './SECURITY.md'
        - './CHANGELOG.md'
        - './edge-Dockerfile'
        - './.dockerignore'
        - './img/**'
        - './docs/**'
    pull_request:
      branches: [ "master" ]
      paths-ignore:
        - './mkdocs.yml'
        - './docs/**'
    workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

## Build and scan Latest image
      - name: Build an image from Dockerfile - latest
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: ${{ secrets.DOCKER_USERNAME }}/clamav-alpine:${{ github.sha }} 

      - name: Run Trivy vulnerability scanner - latest
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: 'docker.io/${{ secrets.DOCKER_USERNAME }}/clamav-alpine:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results.sarif'

## Upload to Security tab
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
